.currency-field {
  display: flex;
  width: 100%;

  @media only screen and (min-width: 641px) {
    width: 391px;
  }

  .currency-tag {
    border: 1px solid var(--color-primary, $colorPrimary);;
    border-radius: 5px 0 0 5px;
    padding: 6px 10px;
    background-color: #fafafa;
  }

  input {
    margin-left: -4px;
    border: 1px solid var(--color-primary, $colorPrimary);;
    border-radius: 0 5px 5px 0;
    padding: 5px 10px;
    width: 100%;

    &:focus {
      box-shadow: 0 0 2px 0px var(--color-primary, $colorPrimary);
    }
  }
}
