.form-block {
  margin-bottom: 2rem;

  @media only screen and (min-width: 641px) {
    display: flex;    
  }

  &__margin-no-top {
    @media only screen and (min-width: 641px) {
      margin-top: -36px; 
    }
  }

  &__margin-bottom {
    @media only screen and (min-width: 641px) {
      margin-bottom: 72px;   
    }
  }

  &__margin-no-bottom {
    margin-bottom: 0;
  }

  &__mobile-none {
    margin-bottom: 1rem;
    
    @media only screen and (max-width: 640px) {
      margin-bottom: 10px;
    }
  }

  &__block {
    display: block;

    .form-label {
      margin-bottom: 6px;
    }
  }

  .btn {
    background-color: var(--color-primary, $colorPrimary);
    border-radius: 5px;

    &:hover {
      background-color: $colorPrimaryLight;
      border: 1px solid transparent;
    }
  }
}
