.form-label {
  margin-top: 6px;
  margin-bottom: 18px;

  @media only screen and (min-width: 641px) {
    margin-bottom: 0;
    width: 17.5%;
  }

  &__hidden {
    @media only screen and (max-width: 640px) {
      display: none;
    }
  }

  &__full {
    width: 100%;
  }

  &__light {
    label {
      font-weight: 400;
    }
  }

  label {
    margin: 0;
  }
}
