.galleries-field {
  width: 85%;
}

.dropzone {
  border: 2px dashed rgba(0, 0, 0, 0.1) !important;
  padding: 5px !important;
  position: relative;

  .dz-message {
    left: 50%;
    margin: 0 !important;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -40%);
  }

  .dz-remove {
    color: red !important;
    margin-top: 5px;
    text-decoration: none;
  }

  .dz-success-mark {
    top: 42.5% !important;
    transform: translateY(-50%);
  }
}
