.image-field {
  display: inline-block;

  .image-thumnail {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;

    &:hover > .delete-image {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .delete-image {
    color: red;
    position: absolute;
    left: 35%;
    border-radius: 100%;
    font-size: 30px;
    background-color: #a8ccd7;
    padding: 5px 10px;
    top: -50%;
    transition: all ease-in-out .3s;
    opacity: .5;
    cursor: pointer;


    &:hover {
      opacity: .8;
    }
  }

  .file-input-program-banner {
    overflow: hidden;
  }

  .add-image {
    color: var(--color-primary, $colorPrimary);
    font-size: 30px;
    cursor: pointer;
    border: 1px solid  var(--color-primary, $colorPrimary); 
    padding: 60px;
    border-radius: 5px;
  }

  .fa-plus {
    color: var(--color-primary, $colorPrimary) !important;
  }
}
