.single-boolean {
  display: flex;
  align-items: center;
  cursor: pointer;

  label {
    margin-bottom: 0;
  }

  input {
    display: none;

    &:checked ~ .checkmark {
      &::after {
        border: 1px solid var(--default-border, #d9d9d9);
      }
      &::before {
        transform: translate(1px, 4px) rotate(-45deg);
        content: "";
        width: 14px;
        height: 8px;
        border-left: 3px solid var(--color-primary, $colorPrimary);
        border-bottom: 3px solid var(--color-primary, $colorPrimary);
        position: absolute;        
      }
    }
  }

  label {
    cursor: pointer;

  }
  .checkmark {
    position: relative;
    margin-right: 10px;
    &::after {
      content: "";
      width: 16px;
      height: 16px;
      border: 1px solid var(--default-border, #d9d9d9);
      display: inline-block;
    }
  }
}
