.dash-selector-field {
	width: 85%;
	&.full {
		width: 100%;
	}
	&.half {
		width: 50%;
	}

	.ss-main {
		.ss-multi-selected {
			border: 1px solid var(--input-border, $inputBorder);
			.ss-values .ss-value {
				background-color: var(--color-primary, $colorPrimary)
			}
		}
		.ss-content {
			.ss-list .ss-option {
				&:hover, &.ss-highlighted {
					background-color: var(--color-primary, $colorPrimary)
				}
			}
			.ss-search input:focus {
			    box-shadow: 0 0 5px var(--color-primary, $colorPrimary);
			}
		}
	}
}