.form-submit {
  display: inline-block;
  margin: 20px 0;

  input, button {
    background-color: var(--color-primary, $colorPrimary);
    border: none;
    border-radius: 5px;
    padding: 10px 16px;
    color: white;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--color-primary-light, $colorPrimaryLight);
    }
  }
}
