.text-array {
  
  input {
    display: inline-block;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid var(--input-border, $inputBorder);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 85%;

    &:focus {
      outline: none;
      box-shadow: 0 0 2px 1px var(--color-primary, $colorPrimary);
    }
  }

  .text-input-box {
    width: 100%;
  }

  .add-button {
    display: inline-block;
    color: white;
    padding: 5px 5px;
    cursor: pointer;
    background-color: var(--color-primary, $colorPrimary);
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--color-primary-light, $colorPrimaryLight);
    }
  }

  .remove-button {
    display: inline-block;
    color: var(--primary-red, $primaryRed);
    border: 1px solid var(--primary-red, $primaryRed);
    padding: 8px;
    cursor: pointer;
  }

  .text-input {
    width: 100%;

  @media only screen and (min-width: 768px) {
    width: 460px;
  }
    display: block;
  }
}
