.text-editor {
  border: 2px solid var(--input-border, $inputBorder);  
  width: 100%;

  @media only screen and (min-width: 641px) {
    width: 85%;
  }

  .text-editor-body {
    min-height: 150px;
    border: none;
  }

  .ql-container {
    height: auto !important;
  }

  .ql-editor {
    border-top: 1px solid var(--input-border, $inputBorder) !important;
    font-size: 16px;
    min-height: 150px;

    p:not(:first-child) {
      margin-top: 10px;
    }
  }

  .ql-toolbar, .ql-editor {
    border: 0;      
  }
}
