.textarea-field {
  width: 100%;

  @media only screen and (min-width: 641px) {
    width: 85%;
  }

  textarea {
    width: 100%;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid var(--input-border, $inputBorder);
    border-radius: 5px;
    height: 100px;

    &:focus {
      outline: none;
      box-shadow: 0 0 2px 0 var(--color-primary, $colorPrimary);
    }
  }
}

.meta-max-words {
  display: inline-block;
}

.red {
  color: var(--primary-red, $primaryRed);
}
