.text-field, .slug-field, .select-field, .select2-field  {

  &__half {
    @media only screen and (min-width: 641px) {
      width: 85% !important;
    }

    @media only screen and (min-width: 768px) {
      width: 391px !important;
    }
  }
  &__full {
    @media only screen and (min-width: 768px) {
      width: 85% !important;
    }
  }

  input, select {
    width: 100%;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid var(--input-border, $inputBorder);
    border-radius: 5px;

    &:focus {
      outline: none;
      box-shadow: 0 0 2px 0 var(--text-color-primary, $textColorPrimary);
    }
  }
}

.text-field, .slug-field {
  @media only screen and (min-width: 641px) {
    width: 85%;
  }
}

.select-field {
  @media only screen and (min-width: 641px) {
    width: 85% !important;
  }
  
  @media only screen and (min-width: 768px) {
    width: 391px !important;
  }
}
