@import "../config/variables.scss";

.auth {
  background: #f1f1f1;

  .btn {
    background-color: var(--color-primary, $colorPrimary);
    line-height: 1.4;

    &:hover {
      background-color: #d2b038;
      border: 1px solid #d2b038;
    }
  }

  .card {
    border-radius: 5px;
  }

  .form-control:focus {
    box-shadow: none;
  }

  input[type="checkbox"] {
    width: 18px;
    height: 18px;
  }

  input[type="text"], input[type="password"], input[type="submit"] {
    border-radius: 5px;
  } 

  input[type="text"], input[type="password"] {
    background-color: #f1f1f1;
    outline: none;
    padding: 10px;
  }

  label, input[type="submit"] {
    font-size: 22px;
  }

  .remember-field label{
    cursor: pointer !important;
  }

}

.auth-logo {
  width: 80%;
  margin: auto;
  display: block;
  margin-bottom: 45px;
}

.auth-tabs {
  display: flex;
  justify-content: space-around;
  padding: 12px 0;

  a {
    color: $colorPrimary;
    font-size: 1.35rem;
    opacity: 0.3;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $colorPrimary;
      opacity: 1;
      text-decoration: none;
    }

    &.active {
      opacity: 1;
    }
  }
}
