@import "../config/variables";
a.index-add-button {
  background-color: var(--color-primary, $colorPrimary);
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin-left: 20px;
  padding: 8px 18px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--color-primary-light, $colorPrimaryLight);
    text-decoration: none;
    color: white;
  }
}

a.menu-navigation-button {
  border: 1px solid var(--color-primary, $colorPrimary);
  border-radius: 5px;
  color: var(--color-primary, $colorPrimary);
  display: inline-block;
  margin-left: 20px;
  padding: 8px 18px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &.active, &:hover {
    background-color: var(--color-primary, $colorPrimary);
    color: white;
    text-decoration: none;
  }
}

.title-block {
  padding: 0;

  .title {
    display: inline-block;
    text-transform: uppercase;
  }

  .title, .title-description {
    margin-bottom: 20px;
  }
}

.content .title-search-block {
  margin-bottom: 25px;
}

.sidebar {
  .sidebar-header .brand {
    font-size: 18px;
    padding: 0;
    text-align: center;

    & a {
      transition: all 0.3s ease-in-out;
    }
  }

  .sidebar-menu > li > a {
    font-size: 18px;
    padding-bottom: 18px;
    padding-top: 18px;
  }

  .sidebar-menu > li > a i {
    margin-right: 14px;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

.zero-padding {
  padding: 0;
}

.dashboard-index {
  .item {
    border-top: 1px solid #e9edf0;

    &:nth-child(2n) {
      background-color: #fcfcfd;
    }

    .item-row {
    font-size: 14px;

    }

    .hidden-item {
      opacity: 0;
      pointer-events: none;
    }
}


  .item-list-header {
    background-color: #fcfcfd;
  }

  .item-col-img:hover + .item-col-title a {
    color: var(--color-primary, $colorPrimary);
  }

  .item-col-title, .item-col-category {
    font-weight: 700;

    a:hover {
      color: var(--color-primary, $colorPrimary);
    }
  }

  .item-col-title {
    flex-grow: 5 !important;
    flex-shrink: 5 !important;
  }

  .item-col-category {
    flex-grow: 6 !important;
    flex-shrink: 6 !important;
    font-weight: 400 !important;
  }

  .item-col-date, .item-col-img {
    text-align: left !important;
  }

  .item-col-action {
    flex-grow: 1 !important;
    flex-shrink: 1 !important;
    text-align: center !important;

    a {
      color: #de2626;
      font-weight: 700;
      text-decoration: none;
    }
  }
}
