// Main Color
$colorPrimary: #559fd6;
$colorPrimaryLight: #4dc0e6;
$colorPrimaryDark: #5080cf;

// Text Color
$textColorPrimary: #3d4348;

// Content Color
$cardGrey: #fcfcfc;
$bgGrey: #f5f5f5;
$bgCardImage: #e0e0e0;

$inputBorder: #d9d9d9;

$primaryRed: #de2626;
/* 
=== HOVER NOTE ===
  "Any Color" > $colorPrimary
  $colorPrimary > $colorPrimaryLight
*/
